body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,table,td,img,div{margin:0;padding:0;border:0;}
body{background:#fff;color:#333;font-size:12px;font-family:"宋体";}

ul,ol{list-style-type:none;}
select,input,img,select,button{vertical-align:middle; margin:0;}

a{text-decoration:underline;}
a:link{color:#009;}
a:visited{color:#800080;}
a:hover,a:active,a:focus{color:#c00;}

.clearit{clear:both;}
.hidden{ display: none; }
.invisible{ visibility: hidden; }
.left{float:left;}
.right{float:right;}
.mustleft{float:left !important;}
.mustright{float:right !important;}
