
#bd #tool #list {  }

.t-list {
    color: #000;
    background-color: white;
    overflow: auto;
}


.t-msg { margin: 2px 0; padding: 6px;
    background-color: #ddd;
    overflow: hidden; zoom: 1;
}

.t-msg .handle {
    width: 30px;
    height: 30px;
    background-color: #777;
    float: left;
}

.t-msg:nth-child(2n) {
    background-color: #bbb;
}

.t-msg img.thumb {
    float: right;
}
#menu {
    float: left;
}
#menu #path {
    width: 400px;
}

#appmsg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
#appmsg .msg {
    margin: auto;
}

.t-ctrl .current {
    width: 14px;
    height: 14px;
    margin: 4px 14px 0 0;
    display: inline-block;
    float: right;
}
.t-ctrl.highlight .current {
    /* background: #000 url(../theme/trontastic/images/ui-icons_b8ec79_256x240.png); */
    /* background-position: -32px -16px; */
    /* background-position: -80px -144px;; */
}

.t-ctrl.highlight {
    background: #000;
    /* background: url(../img/t101.png); */
}
.t-ctrl input {

    border: 1px solid #666;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    color:#fff;
    background: #444;

}

.t-ctrl input.search-keyword {

    width: 120px;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.t-ctrl input.search-time {

    width: 80px;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.t-opt {
    display: inline-block;

    border: 1px solid #666;
    border-color: #000 #666 #666 #000;

    background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png) 50% 50% repeat-x;

    /* background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000)); */
    /* background: -moz-linear-gradient(top, #555, #000); */

    /* background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#000)); */
    /* background: -moz-linear-gradient(top, #555, #000); */

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    padding: 0 4px;
}

.t-opt .ui-button {
    /* background: #000; */
    background: none;
    /* background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png) 50% 50% repeat-x; */
    /* background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_60_000000_1x400.png) 50% 50% repeat-x; */
    border: none;
    /* border: solid 1px #777; */
    /* border-right: 1px solid #555; */
    /* border-bottom: 1px solid #555; */

    font-weight: normal;
}

.t-opt .ui-button.ui-state-default {
    color: #bbb;
}
.t-opt .ui-button.ui-state-active {
    /* background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png) 50% 50% repeat-x; */
    /* background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_60_000000_1x400.png) 50% 50% repeat-x; */
    /* background: #235; */

/*
 *     background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
 *     background: -moz-linear-gradient(top, #000, #233);
 * 
 *     color: #acd;
 */


    /* background: -webkit-gradient(linear, left top, left bottom, from(#248), to(#369)); */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#114), to(#248)); */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #112), to(#336));
    background: -moz-linear-gradient(top, #000, #233);

    color: #acd;


    /* border-bottom: 1px solid #adf; */
}

.t-opt .ui-button-text {
    padding: 2px 6px;
}
