.vweb_icon { background: url(../img/icons.png) 50% top repeat-x; }
.vweb_icon.icon_pub { width:36px; height:36px; background-position: 0px 0px; }
.vweb_icon.icon_upload { width:20px; height:20px; background-position: 0px -200px; }
.vweb_icon.size_32 {  }

.cont_dark0 { background-color: #121212; }
.cont_dark0 a { color: #9c9c9c; }
.cont_dark_shad0 {
    background-image: -webkit-gradient(linear, 0 0, 0 8, from(#000), to(#121212));
    background-image: -moz-linear-gradient(top, #000, #121212 8px);
}

.cont_dark2 { background-color: #252525; }
.cont_dark2 a { color: #bbb; }
.cont_dark_shad2 {
    background-image: -webkit-gradient(linear, 0 0, 0 8, from(#000), to(#252525));
    background-image: -moz-linear-gradient(top, #000, #252525 8px);
}

.cont_white0 { background-color: #fff; }
.cont_white_shad0 {
    background-image: -webkit-gradient(linear, 0 0, 0 5, from(#666), to(#fff));
    background-image: -moz-linear-gradient(top, #666, #fff 5px);
}

.grad_white1 {
    background-color: #e1e1e1;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#757575));
    background: -moz-linear-gradient(top, #e1e1e1, #757575);
}

.grad_dark1 {
    background-color: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#121212));
    background: -moz-linear-gradient(top, #333, #121212);
}
.grad_dark1,
.grad_dark1 .ui-button-text {
    color: #bbb;
}

/*
 * .text_white2 {
 *     color: #e1e1e1;
 * }
 */


.shadow {
    z-index: 100;
    box-shadow: 3px 3px 5px #000;
    -webkit-box-shadow: 0px 0px 50px 10px rgba( 0, 0, 0, 0.7 );
}

p { margin: 0; padding: 0; width: auto; }

html,  body {
    padding: 0px;
    position: relative;
    display: block;
    height: 100%;
}
body { background: #ddd; }

#app {
    /* width: 1145px; */
    height: 100%;
    /* padding: 5px; */
    /* margin: auto; */
    background-color: #ddd;
}

#td_bd {
    width: 600px;
}

#acc { float: right; }

#bd {
    overflow: hidden; zoom: 1;
    position: relative;
    height: 100%;
    width: 100%; }

    #hd {
        background: #121212;
        /* background: #fff; */

        width: 100%;
        /* width: 600px; */
        margin: 0; padding: 12px 0 12px 0;
        overflow: visible; zoom: 1; }

        #hd td { height: 50px; }
        #hd td .wrap {
            overflow: visibility;
            width: 100%; height: 50px; }

        #lg {
            vertical-align: top;
            border-right: 1px solid #2d2d2d;
            /* margin-right:12px; */
            width: 120px;}
            #lg img {
                /* width: 40px; height: 40px; */
                /* margin: -10px 0 0 -10px; */
            }
            #appname {
                position: absolute;
                line-height: 30px;
                font-size: 26px; font-family: ºÚÌå;
                color: #7c7c7c;
                bottom:15px; left: 45px;
            }
            #applinks {
                text-align: center;
                position: absolute;
                bottom: -2px; left: 20px;
            }
            #applinks a { color:#9c9c9c; }

        #curfile {
            padding: 0 0 0 20px;
            vertical-align: bottom; }
        #curfile #path { color: #676776; margin: 2px 0 0 0; }
        #curfile #fn {
            border: 1px solid #404040;
            background: #1d1d1d; color: #fff;
            width: 98%;
            height: 20px;
            position: absolute;
            bottom: 0;
            /* margin: 10px 0 0 0; */
            /* padding: 3px; */
        }
        #curfile #open { color:#000; }
        #tdpub {
            vertical-align: bottom;
            text-align: center;
            width: 100px; }
            #pub {
                margin: -8px 0 -4px 0;
                border:0;
                background: none;
                color: #9f9f9f;
                font-size:14px;

                /* box-shadow: 3px 3px 4px #000; */
                /* text-shadow: 1px 1px 4px #000; */
                /* text-shadow: 1px 1px 2px #fff; */
                /* -webkit-box-shadow: 3px 3px 4px #000; */

            }

            #pub .ui-icon {
                top: 0px;
                left: 50%;
                margin: 0 0 0 -20px;
                /* background-color: #777; */
            }
            #pub .ui-button-text {
                padding: 40px 10px 0 10px;
            }
    #menu {
        /* width: 600px; */
        width: 100%;
        height: 40px;
        overflow: hidden; zoom: 1;
        position: relative; }
    #menu .g_vdacc { padding: 8px 8px 0 0; }
    #menu .g_vdacc a{ color: #777; }
    #menu .g_mode {
        position: absolute;
        bottom: 0; }
    #edit {
        position: relative;
        /* width: 600px; */
        width: 100%;
        overflow: hidden;
    }
        #cont { width: 100%; height: 100%;
            position: absolute;
            bottom: 0; right: 0;
            overflow: auto;
            border: 1px solid #f00;
            color: #000; background: #fff; }
        #cont.standard {  }
        #cont.album .t_msg {
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            float: left;
            margin: 1px;
            padding: 0; }
        #cont.album .t_msg .avatar { display: none; }
        #cont.album .t_msg .cont { margin: 0; }
        #cont.album .t_msg .cont img.thumb { float: none; }
        #cont.album .t_msg .cont .user { display: none; }
        #cont.album .t_msg .cont .msg { display: none; }
            #page {
                border: 1px solid #ddd;
                width: 560px;
                min-height: 400px;
                overflow: hidden; zoom: 1; }
            #page .t_his { display: none; }

#td_sidepad { width:1px; background: #cfcfcf; }
/* max image size is 440 plus 4*2 padding plus 40 margin and width of
 * scrollbar */
#td_side {  }
#side {
    width:547px;
    /* width:100%; */
    height:100%;
    position: relative; }

    #tabs {
        position: relative;
        height: 30px;

        background-color: #121212; }

        #product {
            overflow: hidden;
            position: absolute;
            bottom: 0px; right: 4px; }

    #t { width: 100%;
        background: #aaa;
        overflow: visible; zoom: 1; }
    #func {
        position: relative;
        height: 30px;
        overflow: visible; zoom: 1; }

        #my {
            z-index: 2;
            width: 100%;
            left:0; top: 0;
            position: absolute;
            overflow: hidden; zoom: 1; }

        #my>fieldset {
            /* left:5%; */
            /* width: 90%; */
            margin: 0 0 10px 0; }
        #my legend { display: inline; }
        #my.hideall>fieldset {
            /* left:0%; */
            /* width: 100%; */
            margin: 0; }
        #my.hideall legend { display: inline; float: left; }
        #my.hideall form { display: inline; }


        #my .f_idx .ui-button-icon-primary.ui-icon-idx {
            background-position: -64px -80px;
        }
        #my.hideall .f_idx .ui-button-icon-primary.ui-icon-idx {
            background-position: -16px -80px;
        }

        #my.hideall #friend,
        #my.hideall #mine,
        #my.hideall #re,
        #my.hideall #at,
        #my.hideall #fav,
        #my.hideall #globalsearch { display: none; }

        #my.hideall.but-friend #friend       { display: block; }
        #my.hideall.but-mine   #mine         { display: block; }
        #my.hideall.but-re     #re           { display: block; }
        #my.hideall.but-at     #at           { display: block; }
        #my.hideall.but-fav    #fav          { display: block; }
        #my.hideall.but-global #globalsearch { display: block; }

            #friend {
                position: relative;
            }
            #friend legend {
                padding: 8px 0 0 16px;
                margin: 0 16px 0 0;
            }
            #friend .f_args {
                padding: 4px 0;
            }
            #friend .g_other {
                position: absolute;
                top:4px;
                right:8px;
            }

        #search #keyword{ border: 0; width: 80px; height: 20px; }

        #expand {

            display: none;

            z-index: 3;
            position: absolute; top: 0; right: 0; }

    #paging {
        position: relative;
        width: 100%;
        height: 20px;
        overflow: visible;
    }
        #begindate {
            position: relative;
            border: none;
            width: 100px; height: 18px;
            color: #fff;
            background-color: #555;
        }

        #btnhis {
            position: absolute;
            right: 8px;
        }

        #history {
            z-index: 4;
            position: absolute;
            top: 20px; left:0px;
            width: 100%;
            background: #333;
        }

    #update {
        position: relative;
        padding: 8px;
    }
    #update .f_status {
        width: 523px;
        height: 80px;
        border: 1px solid #404040;
        /* background: #1d1d1d; color: #fff; */
    }
    #update .f_pic {
        color: #888;
    }
    #update .f_submit {
        position: absolute;
        right: 10px;
    }

    #update.compact { }

    #update.compact .f_status {
        width: 523px;
        height: 20px;
        border: 1px solid #404040;
        /* background: #1d1d1d; color: #fff; */
    }
    #update.compact .f_pic {
        color: #888;
    }
    #update.compact .f_submit {
        position: absolute;
        right: 10px;
    }


    #list {
        overflow-y: scroll;
    }

    #vd { width: 100%; }
        #vdaccpane {
            position: relative;
            height: 60px;


            background-color: #2d2d2d;
            background: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#000));
            background: -moz-linear-gradient(top, #2d2d2d, #000);
        }

        #vdaccpane.loggedin .when.loggedout,
        #vdaccpane          .when.loggedin { display: none; }

            #vdfunc {
                position: absolute;
                top: 2px;
                right: 2px; }


                /* #vdform #submit { color: #9f9f9f; } */
                #vdform input {
                    height: 20px;
                    width: 80px;
                    border: 1px solid #404040;
                    background: #1d1d1d; color: #9f9f9f;
                }

                #vdname { color: #7B9299; }
                #upload {
                    border:1px solid #000;
                }
                #upload .ui-button-text {
                    color: #fff;
                    border:1px solid #626262;
                    border-color: #7a7a7a #626262 #303030 #626262;

                    background-color: #252525;
                    background: -webkit-gradient(linear, left top, left bottom, from(#25252d), to(#4a4a4a));
                    background: -moz-linear-gradient(top, #25252d, #4a4a4a);
                }

            #vdpath {
                position: absolute;
                left: 4px; bottom: 4px;

                line-height: 14px;
                font-size: 14px;

                color: #fff;
            }

        #tree {
            position: relative;
            width: 100%;
            background: #a7a7a7;
            overflow-y: scroll;
        }
        #tree ul {
            height: 100%;
        }
        #tree li {
            color: #000;
        }
        #tree li.folder {
            background: #828282;
            border-top: 1px solid #aaa;
            border-bottom: 1px solid #000;
            width: 100%;
            padding: 5px 0;
        }
        #tree li.file {
            background: #b5b5b5;
            border-bottom: 1px solid #626262;
            width: 100%;
            padding: 3px 0;
        }
        #tree li.hover {
            background:#ded;
        }
        #tree li button {
            border:none;
            background:none;
            padding: 0;
        }
        #tree li .ui-button-text {
            /* padding: .4em 1em; */
        }
        #tree li.folder .ui-icon { background-position: 0 -96px; }
        #tree li.file .ui-icon { background-position: -32px -96px; }

.t_ctrl { padding: 2px; margin-bottom: 4px; position: relative; overflow: hidden; zoom:1; }
.t_ctrl_title { border: 0px solid #444; margin: 0 0 5px 0;  }
.t_group {
    /* padding: 10px 10px 0 10px; */
    padding: 0;
}
#fr_search.t_group {
    border-left: 1px solid #444;
}

.t_group>p,
.t_group>form>p,
.t_group>form {
    margin: 0 0 10px 0;
}
.t_line {
    margin: 0 0 10px 0;
}


.t-filter-tabs.ui-tabs {
    background: none;
}
.t-filter-tabs.ui-tabs .ui-tabs-panel {
    background: #222;
}
.t-filter-tabs.ui-tabs .ui-widget-header {
    /* background: #000; */
    background: none;
    border: none;
}

.t-filter-tabs.ui-tabs .ui-tabs-nav li.right { float: right; }

.t-filter-tabs.ui-tabs .ui-tabs-nav li {
    height: 25px;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li a {
    padding: 4px 12px;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li.ui-state-default {
    border: none;
    background: none;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li.ui-state-default a {
    color: #666;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    background: #222;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #aaa;
}


.t-list {
    color: #000;
    background-color: white;
    overflow: auto;
}


.t_msg {
    position: relative;
    overflow: hidden; zoom: 1;

    margin: 20px 0 0 0;
    min-height: 30px;

    line-height: 166%;
    color: #000;

}
.t_msg a.at {
    color: #02d;
}
.t_msg .retweet_symbol {
    position: absolute;
    top: -10px;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #ddd;
}

.t_msg .handle {
    position: absolute;

    width: 30px; height: 30px;
    background-color: #777;
}
.t_msg .avatar {
    position: absolute;

    /* width: 30px; height: 30px; */
    left: 12px;
    background-color: #777;
    overflow: hidden;
}
.t_msg .username {
    /* font-weight: bold; */
}
.t_msg .cont {
    padding: 0 4px 4px 4px;
    margin: 0 12px 0 68px; }

.t_msg .cont .msg_func {
    text-align: right;
}

#list .t_msg.retweet {
    color: #333; background-color: #eee;
    min-height: 0;
    padding: 12px;
    margin: 10px 12px 0 68px; }
#list .t_msg.retweet .avatar { display: none; }
#list .t_msg.retweet .cont { margin: 0 0 0 0px; }

.t_msg .msgimg { margin: 8px 0 0 0; }
/* .t_msg img.msgimg .cont * { display: none; } */
.t_msg .thumb { display: block; }
.t_msg .midpic { display: block; }

.t_msg.midpic .thumb { display:none; }
/*
 * .t_msg.midpic .cont .username,
 * .t_msg.midpic .cont .msg { display: none; }
 */

.t_msg.thumb .midpic { display: none; }

#history .t_msg {
    color: #ddd;
    margin: 4px 0 0 0;
    min-height: 35px;
}
#history .t_msg .f_del {
    position: absolute;
    top: 4px; right: 8px;
}

#history .t_msg .thumb {
    width: 30px; height: 30px;
    margin: 0;
    display: block; }

#appmsg {
    z-index: 1000;
    position: absolute;
    width: 100%;
    left: 0; top: 0;
    text-align: center;
}
#appmsg .msg {
    margin: auto;
    padding: 4px;
    line-height: 30px;
    font-size: 14px;
}

.t_ctrl .current {
    width: 14px;
    height: 14px;
    margin: 4px 14px 0 0;
    display: inline-block;
    float: right;
}
.t_ctrl.highlight .current {
    /* background: #000 url(../theme/trontastic/images/ui-icons_b8ec79_256x240.png); */
    /* background-position: -32px -16px; */
    /* background-position: -80px -144px;; */
}

.t_ctrl.highlight {
    background: #000;
    /* background: url(../img/t101.png); */
}
.t_ctrl input {

    border: 1px solid #666;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    color:#fff;
    background: #444;

}

.t_ctrl input.search-keyword {

    width: 120px;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.t_ctrl input.search-time {

    width: 80px;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.t_opt {
    display: inline-block;

    height: 20px;
    line-height: 20px;

    padding: 0 4px;

    border: 1px solid #000;
}

.t_opt .ui-button {
    background: none;
    border: none;
    font-weight: normal;

    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.t_opt .ui-button.ui-state-default {
    color: #252525;
}
.t_opt .ui-button.ui-state-active {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #112), to(#336));
    background: -moz-linear-gradient(top, #000, #233);

    color: #acd;
}

.t_opt .ui-button-text {
    padding: 1px 6px;
}
