p { margin: 0; padding: 0; width: auto; }

html,  body {
    position: relative;
    display: block;
    height: 100%;
}
body { background: #ddd; }

#app {
    position: relative;
    width: 980px;
    height: 100%;
    padding: 5px;
    /* margin: auto; */
    background-color: #ddd;
}

#hd { height: 40px; margin: 0 0 2px 0;
    padding: 10px;
    background: #aaa;
    overflow: hidden; zoom: 1; }

    #lg { float: left; }
    #lg img{ height: 40px; }
    #vdacc { float: right; }
    #acc { float: right; }

#bd { overflow: hidden; zoom: 1; }
    #edit {
    position: relative;
    width: 600px; float: left;
    padding: 40px 20px 20px 20px; }
    #edit .g_mode {
        position: absolute;
        top: 4px;
        left: 20px; }
        #cont { width: 100%; height: 100%;
            overflow: auto;
            color: #000; background: #fff; }
        #cont.standard {  }
        #cont.album .t_msg {
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;

            float: left;

            margin: 1px;
            padding: 0; }
            #page {
                width: 560px;
                min-height: 400px;
                overflow: hidden; zoom: 1; }
            #cont.album .t_msg .avatar { display: none; }
            #cont.album .t_msg .cont { margin: 0; }
            #cont.album .t_msg .cont img.thumb { float: none; }
            #cont.album .t_msg .cont .user { display: none; }
            #cont.album .t_msg .cont .msg { display: none; }

    #tool { width: 360px; float: right;
        background: #aaa;
        overflow: visible; zoom: 1; }



    #func {
        height: 30px;
        overflow: visible; zoom: 1;
        margin: 0 0 2px 0; padding: 4px; }
    /*
     * #func>.t-panel,
     * #func>.t-btn { margin: 0 6px 0 0; }
     */

        /* #expand.t-btn { float: left; } */
        #my.t-dialog {
            width: 356px;
            left:0; top: 0;
            position: absolute;
            overflow: hidden; zoom: 1; }

        #my.t-dialog legend { display: block; }
        #my.t-dialog.hideall legend { display: inline; float: left; }
        #my.t-dialog.hideall form { display: inline; }


        #my.t-dialog .f_idx .ui-button-icon-primary.ui-icon-idx {
            /* .ui-icon-refresh { background-position: -64px -80px; } */
            background-position: -64px -80px;
        }
        #my.t-dialog.hideall .f_idx .ui-button-icon-primary.ui-icon-idx {
            /* .ui-icon-arrow-4-diag { background-position: -16px -80px; } */
            background-position: -16px -80px;
        }

        #my.t-dialog.hideall #friend,
        #my.t-dialog.hideall #mine,
        #my.t-dialog.hideall #re,
        #my.t-dialog.hideall #at,
        #my.t-dialog.hideall #fav,
        #my.t-dialog.hideall #global { display: none; }

        #my.t-dialog.hideall.but-friend #friend { display: block; }
        #my.t-dialog.hideall.but-mine   #mine   { display: block; }
        #my.t-dialog.hideall.but-re     #re     { display: block; }
        #my.t-dialog.hideall.but-at     #at     { display: block; }
        #my.t-dialog.hideall.but-fav    #fav    { display: block; }
        #my.t-dialog.hideall.but-global #global { display: block; }

        #search #keyword{ border: 0; width: 80px; height: 20px; }

.t-ctrl { padding: 2px; margin-bottom: 4px; position: relative; overflow: hidden; zoom:1; }
.t_ctrl_title { border: 0px solid #444; margin: 0 0 5px 0;  }
.t_group {
    /* padding: 10px 10px 0 10px; */
    padding: 0;
}
#fr_search.t_group {
    border-left: 1px solid #444;
}

.t_group>p,
.t_group>form>p,
.t_group>form {
    margin: 0 0 10px 0;
}
.t_line {
    margin: 0 0 10px 0;
}


.t-filter-tabs.ui-tabs {
    background: none;
}
.t-filter-tabs.ui-tabs .ui-tabs-panel {
    background: #222;
}
.t-filter-tabs.ui-tabs .ui-widget-header {
    /* background: #000; */
    background: none;
    border: none;
}

.t-filter-tabs.ui-tabs .ui-tabs-nav li.right { float: right; }

.t-filter-tabs.ui-tabs .ui-tabs-nav li {
    height: 25px;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li a {
    padding: 4px 12px;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li.ui-state-default {
    border: none;
    background: none;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li.ui-state-default a {
    color: #666;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    background: #222;
}
.t-filter-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #aaa;
}

#bd #tool #list {  }

.t-list {
    color: #000;
    background-color: white;
    overflow: auto;
}


.t_msg {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin: 2px 0 5px 0; padding: 6px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    zoom: 1;

    min-height: 30px;
}
.t_msg .retweet_symbol {
    position: absolute;
    top: -10px;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #ddd;
}

.t_msg .handle {
    position: absolute;

    width: 30px; height: 30px;
    /* float: left; */
    background-color: #777;
}
.t_msg .avatar {
    position: absolute;

    width: 30px; height: 30px;
    /* float: left; */
    background-color: #777;
    overflow: hidden;
}
.t_msg .cont { margin: 0 0 0 34px; }

#list .t_msg.retweet {
    -moz-border-radius: 0 0 0 12px;
    -webkit-border-radius: 0 0 0 12px;
    border-radius: 0 0 0 12px;
    background-color: #ddd;
    color: #666;
    margin-left: 34px; }
/* .t_msg.retweet .handle { left: 20px; } */
/* .t_msg.retweet .cont { margin: 0 0 0 50px; } */
#list .t_msg.retweet .avatar { display: none; }
/* #list .t_msg.retweet .cont { margin: 0 0 0 34px; } */
#list .t_msg.retweet .cont { margin: 0 0 0 0px; }

/* .t_msg:nth-child(2n) { background-color: #ddd; } */

.t_msg img.thumb {
    float: right;
}

.t_msg img.midpic {
    display: none;
    /* float: right; */
}

#menu {
    float: left;
}
#menu #path {
    width: 400px;
}

#appmsg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
#appmsg .msg {
    margin: auto;
    padding: 4px;
    line-height: 30px;
    font-size: 14px;
}

.t-ctrl .current {
    width: 14px;
    height: 14px;
    margin: 4px 14px 0 0;
    display: inline-block;
    float: right;
}
.t-ctrl.highlight .current {
    /* background: #000 url(../theme/trontastic/images/ui-icons_b8ec79_256x240.png); */
    /* background-position: -32px -16px; */
    /* background-position: -80px -144px;; */
}

.t-ctrl.highlight {
    background: #000;
    /* background: url(../img/t101.png); */
}
.t-ctrl input {

    border: 1px solid #666;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    color:#fff;
    background: #444;

}

.t-ctrl input.search-keyword {

    width: 120px;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.t-ctrl input.search-time {

    width: 80px;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.t_opt {
    display: inline-block;

    border: 1px solid #666;
    border-color: #000 #666 #666 #000;

    background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png) 50% 50% repeat-x;

    /* background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000)); */
    /* background: -moz-linear-gradient(top, #555, #000); */

    /* background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#000)); */
    /* background: -moz-linear-gradient(top, #555, #000); */

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    padding: 0 4px;
}

.t_opt .ui-button {
    /* background: #000; */
    background: none;
    /* background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png) 50% 50% repeat-x; */
    /* background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_60_000000_1x400.png) 50% 50% repeat-x; */
    border: none;
    /* border: solid 1px #777; */
    /* border-right: 1px solid #555; */
    /* border-bottom: 1px solid #555; */

    font-weight: normal;
}

.t_opt .ui-button.ui-state-default {
    color: #bbb;
}
.t_opt .ui-button.ui-state-active {
    /* background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png) 50% 50% repeat-x; */
    /* background: #0a0a0a url(../theme/trontastic/images/ui-bg_glass_60_000000_1x400.png) 50% 50% repeat-x; */
    /* background: #235; */

/*
 *     background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
 *     background: -moz-linear-gradient(top, #000, #233);
 *
 *     color: #acd;
 */


    /* background: -webkit-gradient(linear, left top, left bottom, from(#248), to(#369)); */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#114), to(#248)); */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #112), to(#336));
    background: -moz-linear-gradient(top, #000, #233);

    color: #acd;


    /* border-bottom: 1px solid #adf; */
}

.t_opt .ui-button-text {
    padding: 2px 6px;
}
