<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>m</title>
    <link rel="stylesheet" type="text/css" href="css/global.css" />
    <link rel="stylesheet" type="text/css" href="theme/trontastic/jquery-ui-1.8.9.custom.css" />
    <link rel="stylesheet" type="text/css" href="theme/trontastic/ext.css" />
    <link rel="stylesheet" type="text/css" href="css/vweb.css" />
    <script language="javascript" type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery-ui-1.8.9.custom.min.js"></script>
    <script language="javascript" type="text/javascript" src="plugin/tmpl/jquery.tmpl.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.form-defaults.js"></script>
    <!-- <script language="javascript" type="text/javascript" src="plugin/tree/lib/jquery.cookie.js"></script> -->
    <!-- <script language="javascript" type="text/javascript" src="plugin/tree/jquery.treeview.js"></script> -->

    <script language="javascript" type="text/javascript">
        var MODE = 'album';
    </script>

    <script language="javascript" type="text/javascript" src="js/core.js"></script>
    <!-- <script language="javascript" type="text/javascript" src="js/vlbum.js"></script> -->
    <script language="javascript" type="text/javascript" src="js/vweb.js"></script>
    <script language="javascript" type="text/javascript" src="js/vweb.backend.weibo.js"></script>
    <script language="javascript" type="text/javascript" src="js/vweb.ui.js"></script>
    <script language="javascript" type="text/javascript" src="js/vweb.ui.appmsg.js"></script>
    <script language="javascript" type="text/javascript" src="js/vweb.ui.main.js"></script>
    <script language="javascript" type="text/javascript" src="js/vweb.all.js"></script>
</head>

<body class="album">

<!-- <div id="appbg"></div> -->
<table id="app" cellspacing=0> <tr>
<td id="td_bd">
    <div id="bd">
        <table id="maintool" cellspacing=0 >
            <tr>
                <td id="logo">
                    <div class="wrap rel">
                        <div id="appname">Vlbum</div>
                    </div>
                </td>
                <td id="td_pubmsg" colspan="1">
                    <textarea id="pubmsg" type="text" name="pubmsg"></textarea>
                </td>
                <!--
                   - <td id="curfile" >
                   -     <div class="wrap rel">
                   -         <div id="path" class="hidden">/jfksdlf/f/fjds/f/fds/</div>
                   -         <input id="fn" type="text" name="fn"/> <br />
                   -     </div>
                   - </td>
                   -->
                <td id="pubarea">
                    <div id="charleft"></div>
                    <button id="pub">发布</button>
                </td>
            </tr>
        </table>
        <div id="appmsg"></div>
        <!--
           - <div id="menu">
           -     <form class="f_args g_vdacc right">
           -         <a href="javascript:$.vweb.ui.vdacc.save();">保存</a>
           -         <a id="open" href="javascript:$.vweb.ui.vdacc.browse();">从微盘打开</a>
           -     </form>
           -     <form class="f_args g_mode left" >
           -         <span id="edit_mode" class="t_opt grad_white1 t_btn_set" name="mode" _type="radio">
           -             <a href="standard">标</a>
           -             <a href="album">图</a>
           -         </span>
           -         <span id="screen_mode" class="t_opt grad_white1 t_btn_set" name="screen_mode" _type="radio">
           -             <a href="0">全</a>
           -             <a href="1">原</a>
           -         </span>
           -     </form>
           - </div>
           -->
        <div id="edit" class="">
            <div id="cont" class="album">
                <div id="page">
                    <div id="pagehint">拖过来</div>
                </div>
            </div>
        </div>
    </div>
</td>
<td id="td_sidepad"></td>
<td id="td_side">
<div id="side">
    <!--
       - <div id="tabs">
       -     <div id="product" class="t_opt grad_dark1 t_btn_set" name="product" _type="radio">
       -         <a href="#">微盘</a>
       -         <a href="#">微博</a>
       -     </div>
       - </div>
       -->
    <div id="t" class="t-panel">
        <div id="update" class="compact cont_dark2">
            <form action="/t.php?act=upload&cb=$.vweb.ui.t.update.upload_cb"
                method="POST" class="t_group g_update" target="update_target"
                enctype="multipart/form-data">
                <textarea class="f_status" name="status"></textarea>
                <input class="f_pic" type="file" name="pic" value=""/>
                <input class="f_submit" type="submit" name="submit" value="发微博"/>
            </form>
            <iframe name="update_target" class="hidden"></iframe>
        </div>
        <div id="func">
            <div id="my" class="hideall but-friend">
                <fieldset id="friend">
                    <legend class="">
                        <a href="#" class="f_idx">我的首页<span class="stat"></span></a>
                    </legend>
                    <form class="f_args t_group g_simp left" >
                        <span id="fr_feature" class="t_opt grad_dark1 t_btn_set" name="feature" _type="radio">
                            <a href="0">全</a>
                            <a class="nomode_album" href="1">原</a>
                            <a href="2">图</a>
                            <a class="nomode_album" href="3">视</a>
                            <a class="nomode_album" href="4">音</a>
                        </span>
                    </form>

                    <div class="t_group g_other">
                        <!-- 1. 评论数，2. @me数，3. 私信数，4. 关注数 -->
                        <a class="f_mine" href="#">我的微博</a>
                        <a class="f_at" _reset_type="2" href="#">@我的<span class="stat"></span></a>
                        <a class="f_comment" _reset_type="1" href="#">评论<span class="stat"></span></a>
                        <a class="f_message" _reset_type="3" target="_blank" href="http://t.sina.com.cn/messages?source=toptray">私信<span class="stat"></span></a>
                    </div>

                    <div id="paging" class="mode_album">
                        <a class="f_prev" href="#">上页</a>
                        <a class="f_next" href="#">下页</a>
                    </div>

                    <div class="t_group g_search left hidden">
                        <form class="f_args">
                            <p> <input class="search-keyword" type="text" name="s" value="search"> </p>
                            <p>
                            <input class="search-time" type="text" name="s_0" value="00-00-00"/> -
                            <input class="search-time" type="text" name="s_1" value="00-00-00"/>
                            </p>
                            <p>
                            <span id="my_fo_search_range" class="t_opt grad_white1" _type="checkbox">
                                <a href="gid">原</a>
                                <a href="gid">转</a>
                            </span>
                            <span id="my_fo_search_type" class="t_opt grad_white1" _type="checkbox">
                                <a href="gid">字</a>
                                <a href="gid">图</a>
                                <a href="gid">视</a>
                                <a href="gid">音</a>
                            </span>
                            </p>
                        </form>
                    </div>

                </fieldset>
                <fieldset id="mine" class="t_ctrl highlight hidden">
                    <legend class="t_btn_set">
                        <button id="expand2" class="t_btn" _text="no" _icon="arrow-4-diag">Expand</button>
                        <button class="f_idx t_btn">我的微博</button>
                        <input class="search-keyword" type="text" name="search" value="search">
                    </legend>
                    <div class="t-tabs t-filter-tabs">
                        <div id="tab-mine-short">
                            <div class="t_line">
                                <span id="mine_type" class="t_opt grad_white1" _type="radio">
                                    <a href="#">原</a>
                                    <a href="#">图</a>
                                    <a href="#">视</a>
                                    <a href="#">音</a>
                                </span>
                            </div>
                        </div>
                        <div id="tab-mine-search">
                            <div class="t_line">
                                <span id="mine_search_range" class="t_opt grad_white1" _type="checkbox">
                                    <a href="gid">原</a>
                                    <a href="gid">转</a>
                                </span>
                                <span id="mine_search_type" class="t_opt grad_white1" _type="checkbox">
                                    <a href="gid">字</a>
                                    <a href="gid">图</a>
                                    <a href="gid">视</a>
                                    <a href="gid">音</a>
                                </span>
                            </div>
                            <div class="t_line">
                                <input class="search-time" type="text" name="search_tstart" value="00-00-00"/> -
                                <input class="search-time" type="text" name="search_tend" value="00-00-00"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div id="fav" class="t_ctrl hidden">
                    <a href="href">收藏</a>
                </div>
                <div id="at" class="t_ctrl hidden">
                    提到我的:
                    <!--
                    - <span class="t_opt grad_white1">
                        -     <input type="radio" id="at_all_p" checked name="at_range" value="img"/><label for="at_all_p">提到我的:</label>
                        - </span>
                    -->
                    <!-- <br /> -->
                    <span class="t_opt grad_white1">
                        <!-- <input type="radio" id="at_all_msg" name="at_type" value="img"/><label for="at_all_msg">全部微博</label> -->
                        <input type="checkbox" id="at_fo"  name="at_range" value="img"/><label for="at_fo">关注的人</label>
                        <input type="checkbox" id="at_ori" name="at_type" value="img"/><label for="at_ori">原创</label>
                    </span>
                </div>
                <div id="re" class="t_ctrl hidden">
                    <span class="t_opt grad_white1">
                        <input type="radio" id="re_all_p" checked name="re_range" value="img"/><label for="re_all_p">我的评论:</label>
                        <input type="radio" id="re_fo"  name="re_range" value="img"/><label for="re_fo">关注的人</label>
                        <input type="radio" id="re_unk"  name="re_range" value="img"/><label for="re_unk">陌生人</label>
                    </span>
                    <input type="text" name="search" value="search"/>
                </div>
                <!--
                   - <fieldset id="globalsearch" class="t_ctrl highlight">
                   -     <legend class="">
                   -         <input class="search-keyword" type="text" name="search" value="search">
                   -         <button class="f_submit">搜</button>
                   -     </legend>
                   -     <form class="f_args t_group g_search" >
                   -         <div class="t_line">
                   -             <span id="global_search_ori" class="t_opt grad_white1" name="filter_ori" _type="radio">
                   -                 <a href="0">全部</a>
                   -                 <a href="5">原创</a>
                   -                 [> <a href="gid">热</a> <]
                   -             </span>
                   -             <span id="global_search_media" class="t_opt grad_white1" name="filter_pic" _type="checkbox">
                   -                 <a href="0">全部</a>
                   -                 <a href="1">图</a>
                   -             </span>
                   -         </div>
                   -         <div class="t_line">
                   -             <input class="search-time" type="text" name="starttime" value=""/> -
                   -             <input class="search-time" type="text" name="endtime" value=""/>
                   -         </div>
                   -     </form>
                   - </fieldset>
                   -->
            </div>
            <button id="expand" class="t_btn" _text="no" _icon="arrow-4-diag">Expand</button>
            <!-- <button id="refresh" class="t_btn" _text="no" _icon="refresh">刷新</button> -->

        </div>
        <div id="paging" class="nomode_album">
            <input id="begindate" type="text" name="begindate" value="11-02-27 15:34"/>
            <a href="#">上页</a>
            <a href="#">下页</a>
            <a id="btnhis" href="#">历史</a>
            <div id="history" class="hidden"></div>
        </div>
        <div id="list"></div>
    </div>
    <div id="vd" class="hidden">
        <div id="vdaccpane">
            <div id="vdfunc" class="">
                <form id="vdform" class="when onloggedin"
                    action="/vd.php" method="POST" accept-charset="utf-8"
                    enctype="application/x-www-form-urlencoded">
                    <input id="vdisk_username" type="text" name="username" value="用户名"/>
                    <input id="vdisk_password" type="text" name="password" value="密码"/>
                    <input id="submit" type="submit" name="submit" value="登录微盘"/>
                </form>

                <span id="vdname" class="when loggedin">username</span>
                <button id="upload" class="when loggedin ui-button ui-button-text-icon-primary ">
                    <span class="ui-icon vweb_icon icon_upload"></span>
                    <span class="ui-button-text">上传</span>
                    <!-- <a href="javascript:$.vweb.ui.acc.pub();">发布</a> -->
                </button>
            </div>
            <div id="vdpath">
                a > b > c
            </div>
        </div>
        <div id="tree" class="">
            <ul>
                <li class="folder">
                    <button class="ui-button ui-button-h-small ui-button-text-icon-primary -ui-corner-left">
                        <span class="ui-button-icon-primary ui-icon"></span>
                        <span class="ui-button-text">${name}</span>
                    </button>
                </li>
                <li class="folder">
                    <button class="ui-button ui-button-h-small ui-button-text-icon-primary -ui-corner-left">
                        <span class="ui-button-icon-primary ui-icon"></span>
                        <span class="ui-button-text">${name}</span>
                    </button>
                </li>
                <li class="file">
                    <button class="ui-button ui-button-h-small ui-button-text-icon-primary -ui-corner-left">
                        <span class="ui-button-icon-primary ui-icon"></span>
                        <span class="ui-button-text">${name}</span>
                    </button>
                </li>
                <li class="file">
                    <button class="ui-button ui-button-h-small ui-button-text-icon-primary -ui-corner-left">
                        <span class="ui-button-icon-primary ui-icon"></span>
                        <span class="ui-button-text">${name}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

</div>
</td>
</tr>
<tr>
    <td id="footer" colspan=3>
    <a href="http://weibo.com/drdrxp" target="_blank">联系作者</a>
    <a href="http://weibo.com/drdrxp" target="_blank">意见反馈</a>
    </td>
</tr>
</table>



<script id="tmpl_msg" _mode="" type="text/x-jquery-tmpl">
<div id="${id}" class="t_msg thumb ${status}">
    <div class="handle ui-corner-all hidden"></div>
    <div class="avatar">
        <a class="user" id="${user.id}" href="#"><img src="${user.avatar_50}" /></a>
    </div>
    <div class="cont msg">
        <p class="username" id="${user.id}"><a class="user" id="${user.id}" href="#">${user.name}</a> ({{if user.verified}} V{{/if}}
            ${user.friends_count} / ${user.followers_count} ):
        </p>
        <p class="username_sep">&nbsp;</p>
        <p class="msg">{{html html}}</p>
        {{if thumbnail_pic}} <div class="imgwrap thumb"><img class="msgimg thumb" src="${thumbnail_pic}" /></div> {{/if}}
        {{if bmiddle_pic}} <div class="imgwrap midpic"><img class="msgimg midpic" src="${bmiddle_pic}"/></div> {{/if}}
        <div class="msg_func">
            {{if user.isme}}<a class="f_destroy" href="#">删除</a>{{/if}}<a
                class="f_retweet" href="#">转发</a><a
                class="f_fav" href="#">收藏</a><a
                class="f_comment" href="#">评论</a>
        </div>
    </div>
</div>
</script>

<!-- <script id="tmpl_avatar" type="text/x-jquery-tmpl"> -->
<!-- </script> -->

<script id="tmpl_msg" _mode="album" type="text/x-jquery-tmpl">
<div id="${id}" class="t_msg thumb ${status}">
    <div class="handle ui-corner-all hidden"></div>
    <div class="avatar">
        <a class="user" id="${user.id}" href="#"><img src="${user.avatar_50}" /></a>
    </div>
    <div class="cont msg">
        <p class="username" id="${user.id}"><a class="user" id="${user.id}" href="#">${user.name}</a> ({{if user.verified}} V{{/if}}
            ${user.friends_count} / ${user.followers_count} ):
        </p>
        <p class="username_sep">&nbsp;</p>
        <p class="msg">{{html html}}</p>
        {{if thumbnail_pic}} <div class="imgwrap thumb"><img class="msgimg thumb" src="${thumbnail_pic}" /></div> {{/if}}
        {{if bmiddle_pic}} <div class="imgwrap midpic"><img class="msgimg midpic" src="${bmiddle_pic}"/></div> {{/if}}
        <div class="msg_func">
            {{if user.isme}}<a class="f_destroy" href="#">删除</a>{{/if}}
        </div>
    </div>
</div>
</script>

<script id="tmpl_hisrec" type="text/x-jquery-tmpl">
<div id="${hisid}" class="t_msg t_his thumb">
    <span class="time" created_at="${created_at}">${time_forhis}:</span>
    <div class="avatar ui-corner-all">
        <a class="user" id="${user.id}" href="#"><img src="${user.avatar_30}" /></a>
    </div>
    <div class="cont msg">
        <span class="username" id="${user.id}">${user.name}:</span>
        <span class="msg">
            ${text_forhis}
        </span>
        {{if thumbnail_pic}} <img class="msgimg thumb" src="${thumbnail_pic}" /> {{/if}}
    </div>
    <div class="f_del">删除</div>
</div>
</script>

<script id="tmpl_opts" type="text/x-jquery-tmpl">
<input type="${type}" id="${id}" name="${name}" value="${value}" />
<label for="${id}">${label}</label>
</script>

<script id="tmpl_tree_item" type="text/x-jquery-tmpl">
<li id="${id}" class="${class}">
    <button class="ui-button ui-button-h-small ui-button-text-icon-primary -ui-corner-left">
        <span class="ui-button-icon-primary ui-icon"></span>
        <span class="ui-button-text">${name}</span>
    </button>
</li>
</script>

<script id="tmpl_repost" type="text/x-jquery-tmpl">
<div class="g_repost">
<form action="t.php?act=repost&cb=$.vweb.ui.t.list.repost_cb&id=${id}"
    target="ret_${id}" method="POST"
    enctype="application/x-www-form-urlencoded">
    <textarea class="f_text" name="status">${text}</textarea>
    <div class="g_func">
        <input type="button" class="f_cancel" name="cancel" value="取消"/>
        <input type="submit" class="f_submit" name="submit" value="转发"/>
    </div>
</form>
<iframe name="ret_${id}" class="hidden"></iframe>
</div>
</script>

<script id="tmpl_comment" type="text/x-jquery-tmpl">
<div class="g_comment">
<form action="t.php?act=comment&cb=$.vweb.ui.t.list.comment_cb&id=${id}"
    target="cmt_${id}" method="POST"
    enctype="application/x-www-form-urlencoded">
    <textarea name="comment">${text}</textarea>
    <input type="button" class="f_cancel" name="cancel" value="取消"/>
    <input type="submit" class="f_submit" name="submit" value="评论"/>
</form>
<iframe name="cmt_${id}" class="hidden"></iframe>
</div>
</script>

<script id="tmpl_appmsg" type="text/x-jquery-tmpl">
<div class="msg ${level}">${text}</div>
</script>

    </body>
</html>
