
html, body {
    padding: 0;
    margin: 0;
    background: #333;
}

#title {
    z-index: 20;

    background: #000;
    background-image: -webkit-gradient(linear, 0 0, 0 40, from(#333), to(#000));
    -webkit-box-shadow: 0px 0px 10px 6px rgba( 0, 0, 0, 0.7 );

    border-bottom: 2px solid #333;

    color: #777;
    font-family: Arial,Helvetica,sans-serif;

    position: fixed;
    width: 100%;
    top: 0px;

    padding: 12px 0 12px 16px;
    text-align: left;

    opacity: 0.8;
}
#title .sep {
    margin: 0 8px 0 8px;
}
#title a {
    color: #aaa;
    text-decoration: none;
}
#title a:hover {
    color: #fff;
    text-decoration: underline;
}
#title .albname {
    color: #eee;
    font-size: 16px;
}
#title .f_repost {
    margin: 0 0 0 16px;
    font-size: 14px;
}
#title .avatar {
    position: absolute;
}
#title .avatar img {
    height: 18px;
}
#title .username {
    margin: 0 0 0 24px;
    font-size: 12px;
    color: #eee;
}

#sae {
    z-index: 30;
    position: fixed;
    top: 0px;
    right: 1px;

}
#sae a {
    position: relative;
    top: 3px;
    opacity: 0.7;
    -webkit-transition: all 0.1s ease;
}
#sae a:hover {
    opacity: 1;
}

#side {
    position: fixed;
    top: 40px;
    right: 0px;

    color: #fff;
}
#side a {
    color: #fff;
}

#page {
    padding: 0 0 0 2px;
    margin: 40px 0 0 0;
    width: 366px;
    height: 100%;

    overflow: hidden;

    background: #333;
    -webkit-box-shadow: 0px 0px 80px 6px rgba( 0, 0, 0, 0.7 );

}


.t_msg .handle,
.t_msg .cont .username,
.t_msg .cont .username_sep,
.t_msg .cont .msg_func
{ display: none; }

.t_msg { float: left; margin: 2px 2px 0 0; padding: 0; }

.t_msg .cont .imgwrap.thumb {
    display: table-cell;
    vertical-align: middle;

    width:120px;
    height:120px;

    text-align:center;
    background: #000;

    -webkit-transition: all 0.1s linear;
}
.t_msg .cont .imgwrap.thumb:hover {
    -webkit-box-shadow: 0px 0px 10px 4px rgba( 0, 128, 255, 0.4 );
}
.t_msg.showmid .cont .imgwrap.thumb {
    z-index: 10;
    position: relative; /* make this item float up over its siblings */

    box-shadow: 0px 0px 10px #08f;
    -webkit-box-shadow: 0px 0px 10px 6px rgba( 0, 128, 255, 0.7 );
}

.t_msg .cont .imgwrap.midpic {
    display: block;
    position: fixed;
    visibility: hidden;

    top: 0;
    left:268px;
    right: 200px;
    bottom: 0;

    text-align:center;

    opacity: 0;

    -webkit-transition: all 0.1s linear;
}
.t_msg.showmid .cont .imgwrap.midpic {
    visibility: visible;
    left:368px; /* width of thumbs on the left */
    opacity: 1;
}

.t_msg.delayWrap .cont .imgwrap.midpic,
.t_msg.delayImg .cont .imgwrap.midpic .msgimg {
    -webkit-transition-delay: 0.1s;
}

.t_msg .cont .imgwrap.midpic .msgimg {

    margin: 60px 0 0 200px; /* place image at the right at first */

    /* max-height: 500px; */

    opacity: 0;

    -webkit-border-radius: 8px;
    -webkit-box-shadow: 1px 1px 20px 8px rgba( 0, 0, 0, 0.4 );

    -webkit-transition: all 0.1s linear;

}
.t_msg.showmid .cont .imgwrap.midpic .msgimg {
    margin-left: 0;
    opacity: 1;
}

.t_msg .cont .imgwrap.midpic .avatar {
    display: block;
    float: left;
    margin: 0 12px 0 0;

    box-shadow: 1px 1px 5px #000;
    -webkit-box-shadow: 1px 1px 7px 2px rgba( 0, 0, 0, 0.4 );
}
.t_msg .cont .imgwrap.midpic .avatar img {
    -webkit-border-radius: 4px;
}

.t_msg .cont .imgwrap.midpic .msg {
    padding: 16px;
    margin: 0 auto 0 auto;

    width: 408px;

    overflow: hidden;
    zoom:1;

    font-size: 14px;
    color: #aaa;
    line-height: 150%;
    text-align: left;

    background: #222;
    border: 2px solid #444;

    -webkit-border-radius: 8px;
    -webkit-box-shadow: 5px 5px 40px 2px rgba( 0, 0, 0, 0.4 );

    opacity: 0;

}
.t_msg.showmid .cont .imgwrap.midpic .msg {
    margin-top: 16px;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -webkit-transition-delay: 0.1s;
}

